* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f3e8c8;
}

.container {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header > img {
    max-width: 100%;
    height: auto;
}

.product, .online-store, .offline-store-container, .business {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px auto;
}

.product > a > img,
.offline-store > a > img{
    max-width: 100%;
    height: auto;
    margin-bottom: -15px;
}
.online-store, .business {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.online-store > a,
.business > a {
    display: flex;
    justify-content: center;
    width: 100%;
}

.online-store > a > img,
.business > a > img {
    max-width: 70%;
    height: auto;
    margin: 0 auto -15px auto;
}

p {
    font-weight: 550;
    font-size: 50px;
    line-height: 1.2;
    padding: 15px 0;
    color: #2e7cd9;
    text-align: center;
}

.offline-store {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    width: 100%;
}

/* Responsive adjustments */
@media (max-width: 640px) {
    .container {
        padding: 0;
    }

    p {
        font-size: 28px;
        padding: 0;
    }

    .business > a {
        width: 70%;
    }

    .online-store > a > img,
    .business > a > img {
        max-width: 80%;
        margin: 0 auto -8px auto;
    }

    .offline-store {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        padding: 0 20px;
    }

}

@media (min-width: 641px) and (max-width: 1024px) {
    .container {
        max-width: 640px;
    }

    .offline-store {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }

    p {
        font-size: 34px;
    }
}

@media (min-width: 1025px) {
    .container {
        max-width: 640px;
    }
}