* {
    padding: 0;
    margin: 0;
}

html {
  font-family: "Inter", sans-serif;
}

.container {
    background-image: linear-gradient(34deg, rgba(168,205,231,1) 15%, rgba(74,163,207,1) 100%);
    ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;

}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.logo > img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product > a {
    padding-bottom: 10px;
}

p {
    font-weight: 600;
    font-size: 28px;
    line-height: 48px;
    padding-top: 20px;
    padding-bottom: 15px;
}

.online-store {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.online-store > a {
    padding-bottom: 10px;
}

.offline-store {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.offline-store > a {
    padding-bottom: 10px;
}

.business {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.business > a {
    padding-bottom: 10px;
}