* {
    padding: 0;
    margin: 0;
}

html {
  font-family: "Poppins", sans-serif;
}

body{
    background-color: #f3e8c8;

}
.container {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 100%;
    height: 100%;

}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header > img {
    max-width: 600px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product > a > img{
    margin-bottom: -15px;
    max-width: 500px;
}


p {
    font-weight: 600;
    font-size: 50px;
    line-height: 48px;
    padding-top: 20px;
    padding-bottom: 15px;
    color: #2e7cd9;
}

.online-store {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.online-store > a > img{
    margin-bottom: -15px;
    max-width: 350px;
}

.offline-store-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.offline-store {
    display: grid;
    grid-template-columns: auto auto;    
}

.offline-store > a > img{
    margin-bottom: -15px;    
    max-width: 320px;    
}

.business {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.business > a > img{
    max-width: 320px;
}